.duder
  border: 1px solid black
  border-radius: 4px
  box-sizing: border-box
  display: inline-block
  margin: 1em
  padding: 4px
  width: 120px
  height: 150px

  h2
    margin: 0

  p
    text-align: right
